<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dealership Review</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include jQuery UI library -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style>
        .navbar {
          display: flex;
          justify-content: space-between;
        }
        
        .navbar-nav {
          display: flex;
          align-items: center;
        }
        
        .navbar-nav li {
          padding: 0 10px;
        }
      </style>

</head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="/djangoapp">Dealership Review</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="about">About us</a></li>
                <li><a href="contact">Contact us</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <div class="rightalign">
                 <div class="dropdown">
                <button class="dropbtn">{{user.username}}</button>
                <div class="dropdown-content">
                <a href="{% url 'djangoapp:logout' %}">Logout</a>
                </div>
            </div>
            </div>
            {% else %}
            <div class="rightalign">
            <div class="dropdown">
                <div>
                    <style>
                        h5{
                            color: red;
                        }
                    </style>
                    {% for message in messages %}
                    <h5>{{message}}</h5>
                    {% endfor %}
                </div>
            <form action="{% url 'djangoapp:registration' %}" method="get">
                <input class="dropbtn"  type="submit" value="Visitor">
                <div class="dropdown-content">
                    <a href="{% url 'djangoapp:registration' %}">Signup</a>
                    <a href="{% url 'djangoapp:login' %}">Login</a>
                </div>
                </form>
            </div>
            </div>
            {% endif %}
            </ul>
            </div>
          </nav>

        <!-- templates/djangoapp/add_review.html -->


        <!-- templates/djangoapp/add_review.html -->


    {% block content %}
    <h2>Add Review</h2>
    <form action="{% url 'djangoapp:add_review' dealer_id=dealer_id %}" method="post">
        {% csrf_token %}
        <!-- Other form elements can be here -->

        <!-- Textarea to receive review content -->
        <label for="content">Enter the review content:</label>
        <br/>
        <textarea class="form-control" id="content" name="content" rows="2" required></textarea>

        <!-- Checkbox to ask if users purchased a car from this dealer before or not -->
        <br/>
        <input class="form-check-input" type="checkbox" name="purchase" id="purchase" required>&nbsp; &nbsp; &nbsp; &nbsp;
        <label for="purchase">Have you purchased a car from this dealer before?</label>
        <br/>
        <br/>
        <div class="form-group">
            <label for="car">Select your car [car_make]:</label>
            <select name="car_make" id="car" class="form-select" required>
                <option value="" disabled selected>Select a car</option>
                {% for car in car_makes %}
                    <option value="{{ car }}">{{ car }}</option>
                {% endfor %}
            </select>
        </div>
        <label for="purchasedate">Select your purchase date:</label>
        <input class="date-own form-control" type="text" name="purchase_date" id="purchasedate" required>
        <br/>
        <div>
            <button type="submit">Submit Review</button>
        </div>
    </form>
    {% endblock %}
    <script type="text/javascript">
    // Initialize the datepicker on the date input field
    $(document).ready(function() {
        $('.date-own').datepicker({
            format: 'mm/dd/yyyy'
        });
    });
    </script>

    </body>

</html>
